<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDt_Up5ff1hNzZvWR7wzif_d-ErwV02z8o</string>
	<key>GCM_SENDER_ID</key>
	<string>847994109739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pp8</string>
	<key>PROJECT_ID</key>
	<string>vlapp2kurs</string>
	<key>STORAGE_BUCKET</key>
	<string>vlapp2kurs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847994109739:ios:be12150c43d781c6c40f6e</string>
</dict>
</plist>